<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="ConnectionString" value="Data Source=192.168.20.59;Initial Catalog=PortalClientes; Persist Security Info=True; User ID=sa;Password=S0p0rt3" />
     <add key="ConnStringPerPersonasCentralizada" value="Data Source={0};Initial Catalog=GA_Corporativa; Persist Security Info=True; User ID={1};Password={2}" />
     <add key ="IP_TablaPerPersonasCentralizada" value ="192.168.20.29" />
     <add key ="BD_TablaPerPersonasCentralizada" value ="GA_Corporativa" />
     <add key ="TablaPerPersonasCentralizada" value ="dbo.Per_Personas"/>
     <add key ="id_agencia_in" value ="(11,12,35)"/> <!-- si vacia entonces consulta por todas las agencias -->
     <add key ="id_agencia_not_in" value =""/> <!--excluye esta lista de agencias si vacia entonces consulta por todas las agencias -->

     <add key ="LogFile" value ="Log.txt"/>
    
    <!-- si vacia entonces consulta por todas las agencias -->
    <!-- 
     <add key="RutaEjecutableBPro" value="C:\AndradeGPO\ActualizarCampoEnBP\Ejecutable\BusinessProSICOP.exe" />
     <add key="DirectorioDejaLogs" value="C:\AndradeGPO\ActualizarCampoEnBP\Ejecutable\" />-->
     <!-- solo para que los respalde -->
     <add key="Latencia" value ="1"/> <!-- en minutos antes de ir a revisar nuevamente las carpetas de cada agencia --> 
     <add key="SegundosEspera" value ="30"/><!-- Antes de mover el archivo al respaldo -->

     <add key="Modo" value="DEBUG"/>  <!-- DEBUG | PRODUCCION-->


  </appSettings>
</configuration>