<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="ConnectionString" value="Data Source=192.168.20.59;Initial Catalog=PortalClientes; Persist Security Info=True; User ID=sa;Password=S0p0rt3" />
     <!-- 
     <add key="RutaEjecutableBPro" value="C:\AndradeGPO\ActualizarCampoEnBP\Ejecutable\BusinessProSICOP.exe" />
     <add key="DirectorioDejaLogs" value="C:\AndradeGPO\ActualizarCampoEnBP\Ejecutable\" />-->
     <!-- solo para que los respalde -->
     <add key="Latencia" value ="1"/> <!-- en minutos antes de ir a revisar nuevamente las carpetas de cada agencia --> 
     <add key="SegundosEspera" value ="30"/><!-- Antes de mover el archivo al respaldo -->
  </appSettings>
</configuration>